* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    margin-top: 25px;
    margin-left: 25px; 
}
.item {
    position: relative;
    width: 250px;
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;

}
.item img {
    max-width: 100%;
}
.item-discount {
    width: auto;
    position: absolute;
    bottom: 70px;
    background-color: chocolate;
    font-size: 15px;
    padding: 5px;
    color: white;
}
.item-attribute {
    width: auto;
    position: absolute;
    left: 55px;
    bottom: 70px;
    background-color: cadetblue;
    font-size: 15px;
    padding: 5px;
    color: white;

}
.item-favourite {
    width: auto;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;
    color: crimson;
    background-color:white;
    padding: 5px;
    border-left: 2px solid black;
    display: none;
    z-index: 99;
}
.item:hover span {
    display: block;
}
.green-container {
    color: white;
    background-color: cadetblue;
}
.item .img-top  {
    max-width: 250px;
    padding: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.item:hover .img-top  {
    display: block;
}